WebContent/wsdl/BookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBooks">
    <complexType/>
   </element>
   <element name="getBooksResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getBooksReturn" type="impl:Book"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Book">
    <sequence>
     <element name="price" type="xsd:int"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBooksRequest">

      <wsdl:part element="impl:getBooks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBooksResponse">

      <wsdl:part element="impl:getBooksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookService">

      <wsdl:operation name="getBooks">

         <wsdl:input message="impl:getBooksRequest" name="getBooksRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBooksResponse" name="getBooksResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookServiceSoapBinding" type="impl:BookService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBooks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBooksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBooksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookServiceService">

      <wsdl:port binding="impl:BookServiceSoapBinding" name="BookService">

         <wsdlsoap:address location="http://localhost:8888/webdemo/services/BookService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
